[ req ]
default_md = sha256
prompt = no
req_extensions = req_ext
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
commonName = <person>'s <service> Client Cert <serial>
countryName = CC
stateOrProvinceName = SS
localityName = LL
organizationName = <person>'s Org

[ req_ext ]
basicConstraints = CA:FALSE
# nsCertType = client  # deprecated
subjectKeyIdentifier = hash
# authorityKeyIdentifier = keyid,issuer  # causes problems
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = clientAuth
